.todo-item{
	padding-left: 20px;
}

.empty-placeholder {
	margin-top: 40px;
	text-align: center;
}

.strikethrough {
	text-decoration: line-through;
	color: #999999;
}

.todo-desc {
	margin-right: 8px;
}