.header-container{
	
}
.avater{
	display: flex;
	align-items: center;
	justify-content: center;
}
.background-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.btn-wrapper{
	display: flex;
	justify-content: space-between;
}